@font-face {
  font-family: "icon-font";
  src: url("../static/fonts/icon-font.ttf?01daeb0b4d08af267c7d0415f299bab9") format("truetype"),
url("../static/fonts/icon-font.woff?01daeb0b4d08af267c7d0415f299bab9") format("woff"),
url("../static/fonts/icon-font.woff2?01daeb0b4d08af267c7d0415f299bab9") format("woff2"),
url("../static/fonts/icon-font.eot?01daeb0b4d08af267c7d0415f299bab9#iefix") format("embedded-opentype"),
url("../static/fonts/icon-font.svg?01daeb0b4d08af267c7d0415f299bab9#icon-font") format("svg");
  font-display: swap;
}

%icon-font-stuff {
  font-family: icon-font !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  line-height: inherit;
}

@mixin icon($content) {
  content: $content;
  @extend %icon-font-stuff;
}

[data-icon]:before {
  @extend %icon-font-stuff;
  content: attr(data-icon);
}

[data-icon-right]:after {
  @extend %icon-font-stuff;
  content: attr(data-icon-right);
}

[data-icon-left]:before {
  @extend %icon-font-stuff;
  content: attr(data-icon-left);
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  @extend %icon-font-stuff;
}

$icon-font-map: (
  "angle-down": "\61",
  "angle-left": "\62",
  "angle-right": "\63",
  "angle-up": "\64",
  "bars": "\65",
  "check": "\66",
  "cookie-bite": "\67",
  "envelope": "\68",
  "facebook-square": "\69",
  "fax": "\6a",
  "phone-alt": "\6b",
  "phone": "\6c",
  "times": "\6d",
  "sliders-h": "\6e",
);

.icon-angle-down:before {
  content: map-get($icon-font-map, "angle-down");
}
.icon-angle-left:before {
  content: map-get($icon-font-map, "angle-left");
}
.icon-angle-right:before {
  content: map-get($icon-font-map, "angle-right");
}
.icon-angle-up:before {
  content: map-get($icon-font-map, "angle-up");
}
.icon-bars:before {
  content: map-get($icon-font-map, "bars");
}
.icon-check:before {
  content: map-get($icon-font-map, "check");
}
.icon-cookie-bite:before {
  content: map-get($icon-font-map, "cookie-bite");
}
.icon-envelope:before {
  content: map-get($icon-font-map, "envelope");
}
.icon-facebook-square:before {
  content: map-get($icon-font-map, "facebook-square");
}
.icon-fax:before {
  content: map-get($icon-font-map, "fax");
}
.icon-phone-alt:before {
  content: map-get($icon-font-map, "phone-alt");
}
.icon-phone:before {
  content: map-get($icon-font-map, "phone");
}
.icon-times:before {
  content: map-get($icon-font-map, "times");
}
.icon-sliders-h:before {
  content: map-get($icon-font-map, "sliders-h");
}
