@import '_bootstrap';

@import '_nuxt';
@import '_icons';
@import '_transitions';

@import '_grid';

@import '_font';
@import '_buttons';
@import '_forms';

@import '_fixes';


// --------------------------
// Layout Elements
// --------------------------

.space-top {
  margin-top: 1rem !important;

  @include media-breakpoint-up(m) {
    margin-top: 2rem !important
  }
}

.space-y {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;

  @include media-breakpoint-up(m) {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important
  }
}

h1.title {
  margin-top: 2rem;
  position: relative;
  z-index: 2;
  @include media-breakpoint-up(s) {
    padding-left: 1em;
  }
  @include media-breakpoint-up(m) {
    margin-bottom: 2rem;
  }
}

.splash {
  overflow: hidden;
  position: relative;
	z-index: -1;

  @include media-breakpoint-up(l) {
    margin-top: -3rem;
  }
  > figure {
    object-fit: cover;
    height: 100%;
    max-height: 60vh;
    max-width: 100%;

    @media (min-height: 1000px) {
      max-height: 500px;
    }
  }
  img {
    max-height: 500px;
  }
  & + h1.title {
    margin-top: -2em;
    @include media-breakpoint-up(m) {
      margin-top: -10rem;
      margin-bottom: 2rem;
    }
  }
  video {
    width: 100%;
  }
}

.card {
  background: #fff;
  color: var(--body-color);
}

.card, .no-card {
  padding: 1em;
  margin-bottom: auto;

  &.row {
    margin: 0 0 1.5rem !important;
  }

  [class*="col-"] {
      h2 {
        margin-top: 2rem
      }
      h3 {
        margin-top: 1.5rem
      }
      h4 {
        margin-top: 1rem
      }
  }

  @include media-breakpoint-up(s) {
    padding:2rem
  }

  @include media-breakpoint-up(m) {
    padding:2.5rem 2rem 2rem 3rem
  }
}

figure + .card {
  margin-top: -1rem
}

@include media-breakpoint-up(m) {
  .grid-m {
    display: grid;
    grid-template-columns: 1fr 270px;
    grid-gap: 15px;
    @include media-breakpoint-up(xl) {
      grid-template-columns: 1fr 300px;
    }
  }
}

.info-box {
  border-radius: 1rem;
  padding: 1em 1em 0 !important;
  margin: 1em !important;
  font-weight: bold;
}

.bg-green {
  background: #90C78B;
  color: #fff;
}

.bg-red {
  background: rgb(218, 110, 48);
  color: #fff;
}

p, ul li {
  max-width: 690px;
}


// -----------------------
// Fancybox
// -----------------------

.fancybox-content {
  color: #000;
  display: inline-block !important;
  padding: 40px 20px !important;

  .row {
    max-width: 960px;
  }

  & > .row {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -15px !important;
    margin-right: -15px !important;
  }

  @include media-breakpoint-up(s) {
    padding: 40px !important
  }
  
  &#content {
    max-width: var(--breakpoint-xxl);
  }
}
